.center h1 {
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.container {
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input {
    width: 100%;
}

.todoitem {
    border: 1px solid red;
}

button{
    border-radius: 5px;
    border-color: rgb(155, 153, 153);
    background-color: rgb(155, 153, 153);
    margin-left: 5px;
    margin-top: 5px;
}

h1{
    font-family: 'Times New Roman', Times, serif;
}